In [3]:
import pandas as pd
import numpy as np

In [5]:
# df = pd.read_csv('UK_retailer_ecommerce_data1.csv', delimiter=',')
df_clean = pd.read_csv('UK_ecommerce_data6.csv', delimiter=';')

In [6]:
pattern_keywords = [
    'check', 'damaged', 'damages', 'found', 'sold as', 'adjustment', 'amazon', 
    'thrown away', 'unsaleable', 'dotcom', 'had been put aside', 'ebay', 'wet', 
    'missing', 'smashed', 'incorrect', 'mailout', 'crushed', 'metal sign', 
    'wet pallet', 'wax', 'dotcom sales', 'mixed up', 'printing', 'returned', 
    'reverse', 'rusty', 'samples', 'stock check', 'test', 'water', 'counted', 
    'discount', 'carriage', 'manual', 'pads to match', 'bad debt', 'commission', 
    r'\b[b]\b', r'^\?', r'^\*', r'^\d{5,}', r'^\?+', 'lost', 'display'
]

# Convert the patterns to a single regex string using `|` (OR operator)
pattern_regex = '|'.join(pattern_keywords)

# Vectorized approach to create the 'is_real_product' column
df['is_real_product'] = np.where(
    df['Description'].str.lower().str.contains(pattern_regex, na=False), 0, 1
)

# Filter the rows with real products
df_clean = df[df['is_real_product'] == 1]

# Now df_clean contains only the real product descriptions

In [7]:
df_clean.to_csv('UK_ecommerce_data3.csv', index=False, encoding='utf-8')

In [2]:
df_clean = pd.read_csv('UK_ecommerce_data3.csv', delimiter=',')

In [ ]:
df_clean.info() # count of previous 512036 before df_clean2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512036 entries, 0 to 512035
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   InvoiceNo        512036 non-null  object
 1   StockCode        512036 non-null  object
 2   Description      512036 non-null  object
 3   Quantity         512036 non-null  int64
 4   InvoiceDate      512036 non-null  object
 5   UnitPrice        512036 non-null  float64
 6   CustomerID       385882 non-null  float64
 7   Country          512036 non-null  object
 8   is_real_product  512036 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 35.2+ MB

In [7]:
df_clean2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 511999 entries, 0 to 512035
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   InvoiceNo        511999 non-null  object
 1   StockCode        511999 non-null  object
 2   Description      511999 non-null  object
 3   Quantity         511999 non-null  int64
 4   InvoiceDate      511999 non-null  object
 5   UnitPrice        511999 non-null  float64
 6   CustomerID       385870 non-null  float64
 7   Country          511999 non-null  object
 8   is_real_product  511999 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 39.1+ MB

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540455 entries, 0 to 540454
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   InvoiceNo        540455 non-null  object
 1   StockCode        540455 non-null  object
 2   Description      540455 non-null  object
 3   Quantity         540455 non-null  int64
 4   InvoiceDate      540455 non-null  object
 5   UnitPrice        540455 non-null  float64
 6   CustomerID       406829 non-null  float64
 7   Country          540455 non-null  object
 8   is_real_product  540455 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 37.1+ MB

:

In [10]:
print(df_clean.head())

  InvoiceNo StockCode                         Description  Quantity  \
0    536365    85123A  WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                 WHITE METAL LANTERN         6
2    536365    84406B      CREAM CUPID HEARTS COAT HANGER         8
4    536365    84029E      RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752        SET 7 BABUSHKA NESTING BOXES         2

        InvoiceDate  UnitPrice  CustomerID         Country  is_real_product
0  2010-12-01 08:26       2.55     17850.0  United Kingdom                1
1  2010-12-01 08:26       3.39     17850.0  United Kingdom                1
2  2010-12-01 08:26       2.75     17850.0  United Kingdom                1
4  2010-12-01 08:26       3.39     17850.0  United Kingdom                1
5  2010-12-01 08:26       7.65     17850.0  United Kingdom                1

In [11]:
df_clean.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,is_real_product
540450,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50,0.85,12680.0,France,1
540451,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50,2.10,12680.0,France,1
540452,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50,4.15,12680.0,France,1
540453,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50,4.15,12680.0,France,1
540454,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50,4.95,12680.0,France,1

In [5]:
df_clean2 = df_clean.copy()

In [6]:
# Filtering out rows where StockCode contains certain ambiguous values
# df_clean2 = df_clean2[~df_clean2['StockCode'].str.contains('gift|post|bank_charges', case=False, na=False)]

# making another filter with the correct "bank charges" as value in the stockcode column
df_clean2 = df_clean2[~df_clean2['StockCode'].str.contains('bank charges', case=False, na=False)]

In [8]:
# Convert 'InvoiceDate' to datetime (if not already)
df_clean2['InvoiceDate'] = pd.to_datetime(df_clean2['InvoiceDate'])

# Format 'InvoiceDate' to the desired format (12/1/2010 8:26)
df_clean2['InvoiceDate'] = df_clean2['InvoiceDate'].dt.strftime('%m/%d/%Y %H:%M')

# Check the result
print(df_clean2[['InvoiceDate']].head())

        InvoiceDate
0  12/01/2010 08:26
1  12/01/2010 08:26
2  12/01/2010 08:26
3  12/01/2010 08:26
4  12/01/2010 08:26

In [ ]:
df_clean2.to_csv('UK_ecommerce_data6.csv', index=False, encoding='utf-8')

:

In [7]:
df_clean2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 512036 entries, 0 to 513288
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   InvoiceNo        512036 non-null  object
 1   StockCode        512036 non-null  object
 2   Description      512036 non-null  object
 3   Quantity         512036 non-null  int64
 4   InvoiceDate      512036 non-null  object
 5   UnitPrice        512036 non-null  float64
 6   CustomerID       385882 non-null  float64
 7   Country          512036 non-null  object
 8   is_real_product  512036 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 39.1+ MB

In [6]:
distinct_descriptions = df_clean['Description'].drop_duplicates()

# Display the result
print(distinct_descriptions)

0          WHITE HANGING HEART T-LIGHT HOLDER
1                         WHITE METAL LANTERN
2              CREAM CUPID HEARTS COAT HANGER
3              RED WOOLLY HOTTIE WHITE HEART.
4                SET 7 BABUSHKA NESTING BOXES
                         ...
480016         SET 10 CARDS SNOWY ROBIN 17099
484461    SET 10 CARDS SWIRLY XMAS TREE 17104
498026              LETTER "U" BLING KEY RING
507961     CREAM HANGING HEART T-LIGHT HOLDER
510592            PAPER CRAFT , LITTLE BIRDIE
Name: Description, Length: 3969, dtype: object

In [9]:
# distinct_descriptions.info()

distinct_descriptions.to_csv('distinct_descriptions.csv', index=False, encoding='utf-8')